@charset "utf-8";

header {
  background-color:white;
  height:80px;
  border-bottom:1px solid silver;
  position: relative;

  overflow: hidden;
}

a {
  text-decoration:none;
}

h1 {
  color:white;
}

body {
  margin:0px;
  padding:0px;
}

.contents {
  min-height: 100vh;
  padding-bottom: 150px;
  position: relative;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  height: 80px;
  overflow: hidden;
}

.logo a {
  display: block;
}

.logo img   {
  height: 80px;
  width: auto;
  margin-left: 80px;
}

nav {
  float: right;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-right: 70px;
}

nav a {
  color:black;
  padding: 30px 30px;
}

nav li {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 17px;
}

nav li:hover {
  cursor:pointer;
}

.top {
  background-image: url("../img/top-background.jpg");
  height:400px;
  background-size: cover;
  padding:100px 0 200px 0 ;
  text-align:left;
  position: relative;
}

.top__wrapper {
  position: absolute;
  top: 0;
  left: 90px;
}

.top__wrapper h1 {
  font-size: 120px;
  letter-spacing:10px;
  opacity:0.8;
  line-height: 50px;
}

.top__wrapper p {
  color:white;
  font-size:30px;
  opacity:0.8;
  top: -50px;
}

.main__contents {
  height:650px;
  width: 80vw;
  background-color:#eeeeee;
  font-family: 'Economica', sans-serif;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.contents__wrapper {
  height:650px;
  width: 80vw;
  background-color:#eeeeee;
  font-family: 'Economica', sans-serif;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.contents-main {
  height:450px;
  width: 80vw;
  background-color:#eeeeee;
  font-family: 'Economica', sans-serif;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

.contents__consept {
  width: 40vw;
}

.contents-text {
  padding:450px 0 0 300px;
  color:white;
  font-size:25px;
  opacity:0.8;
}

.contents__title-mini {
  position: absolute;
  top: 10vh;
  left: 18vw;
}

.contents__discription {
  display: inline-block;
  width: 25vw;
}

/* .front-top {
  background-image: url("../img/top-background.jpg");
  height:400px;
  background-size: cover;
  padding:100px 0 200px 0 ;
  text-align:left;
  position: relative;
  top: 80px;
}

.contents-text {
  padding:450px 0 0 300px;
  color:white;
  font-size:25px;
  opacity:0.8;
}

.top-contents h1 {
  font-size:100px;
  letter-spacing:10px;
  opacity:0.8;
  position:absolute;
  top:50px;
  left:100px;
}

.main__contents {
  height:650px;
  width: 80vw;
  background-color:#eeeeee;
  font-family: 'Economica', sans-serif;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.heading {
  padding-top:2em;
  font-size:2em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
}

.main-contents {
  text-align: left;
  white-space: nowrap;
}

.contents__title-mini {
  position: absolute;
  top: 30%;
  left: 45%;
}

.discription {
  width:50%;
  font-size:15px;
  position:absolute;
  top:90%;
  left:25%;
  font-size:15px;
  white-space: normal
} */

footer {
  color:white;
  background-color:#222222;
  height:150px;
  width:100%;
  position: absolute;
  bottom: 0;
}

.btn__wrapper {
  position: absolute;
  top: 30px;
  right: 40px;
}

.btn {
  color:white;
  display:block;
  margin: 5px 5px;
  padding:8px 24px;
  margin-left: 30px;
}

.fab {
  margin-right:10px;
}

.twitter {
  background-color:#55acee;

}

.facebook {
  background-color:#3B5998;
}


.info__wrapper {
  text-align: center;
}

.info__author {
  padding-top: 30px;
  margin: 0 0;
}

.info__wrapper h2 {
  font-size:35px;
  font-weight: normal;
  margin:0 0;
}

.copyright {
  font-size: 10px;
}

@media screen and (max-width:600px) {
	/*　画面サイズが600px以下の場合ここの記述が適用される　*/

  header {
    display: flex;
    flex-direction: column;
    height: 120px;
  }

  header a {
    text-align: center;
  }
  
  .logo img {
    margin-left: initial;
  }

  nav ul {
    margin-right: initial;
  }

  nav a {
    padding: 0 15px;
  }

  .contents__wrapper {
    height: 1000px;
    width: 100vw;
  }

  .top {
    padding: 100px 0 50px 0;
  }

  .top__wrapper {
    position: absolute;
    top: 0;
    left: 30px;
  }

  .top__wrapper h1 {
    font-size: 80px;
  }

  .contents-main {
    display: initial;
  }

  .contents__consept {
    width: 100%;
  }

  .contents__discription {
    width: 85vw;
  } 

  .btn__wrapper {
    display: none;
  }
}
