@charset "utf-8";



header {
  background-color:white;
  height:80px;
  width:100vw;
  border-bottom:1px solid silver;
  position: relative;
  position:fixed;
  z-index:5;
  overflow: hidden;
}

a {
  text-decoration:none;
}

h1 {
  color:white;
}

body {
  margin:0px;
  padding:0px;
}

.header-logo img   {
  float:left;
  padding: 25px 0 0 10%;
  width: 10%;
}

nav {
  margin-top: 35px;
  margin-left: 22%;
}

nav a {
  color:black;
}

nav li {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 17px;
}

nav li:hover {
  cursor:pointer;
}

.front-top {
  background-image: url("top-background.jpg");
  height:400px;
  background-size: cover;
  padding:100px 0 200px 0 ;
  text-align:left;
  position: relative;
  top: 80px;
}

.contents-text {
  padding:450px 0 0 300px;
  color:white;
  font-size:25px;
  opacity:0.8;
}

.top-contents h1 {
  font-size:100px;
  letter-spacing:10px;
  opacity:0.8;
  position:absolute;
  top:50px;
  left:100px;
}

.front-bot {
  height:650px;
  background-color:white;
  text-align: center;
  padding-top:30px;
}

.heading {
  padding-top:2em;
  font-size:2em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
}

.contents {
  float:left;
  width:50%;
}

.disc {
  position:relative;
}

.disc p {
  position:absolute;
  top:80px;
  left:37%;
  font-size:22px;
}

.discription {
  width:50%;
  padding-left:150px;
  font-size:15px;
}

footer {
  color:white;
  background-color:#222222;
  height:200px;
  width:100%;
  position: relative;
}

.btn-wrapper {
  position:absolute;
  right:0;
  top:0;
  padding-right: 12%;
  padding-top: 10px;
}

.btn {
  color:white;
  display:block;
  padding:8px 24px;
  margin-top: 13%;
  margin-left: 30px;
}

.fab {
  margin-right:10px;
}

.twitter {
  background-color:#55acee;

}

.facebook {
  background-color:#3B5998;
}


.info-wrapper {
  width:40%;
  margin: auto;
  text-align: center;
}

.author-info {
  padding-top: 9%;
  margin: 0 0;
}

.info-wrapper h2 {
  font-size:40px;
  font-weight: normal;
  margin:0 0;
}

.copyright {
  margin-top: 5%;
  font-size: 10px;
}

